<div id="vm" class="pre-scrollable">
    <p v-if="loading">Loading...</p>
    <ul class="list-group text-center">
        <li v-for="item in items" class="list-group-item">
            <a v-on:click="detail(item)">
                <span class="task-info">[${item.type}]&nbsp;${item.detail}</span>
                <span class="task-reward">[悬赏]&nbsp;${item.reward}(元)</span>
                <!--<button type="button" class="btn btn-primary btn-sm task-take">接单</button>-->
                <button v-bind:id="item.id" type="button" class="btn btn-primary btn-sm task-top ladda-button"
                        data-style="slide-right" v-on:click="stick(item)">置顶
                </button>
            </a>
        </li>
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </ul>
</div>

<input type="hidden" value="{{where}}">