# Created by .ignore support plugin (hsz.mobi)

# npm install
node_modules

# ide/os's config files
.idea
*.DS_Store

# Logs
log
logs
*.log
# some test/produce files
my-config.js
upload_files
out.png
static/tmp
