# Created by .ignore support plugin (hsz.mobi)

# npm install
node_modules

# ide/os's config files
.idea
*.DS_Store

# Logs
log
logs
*.log

# some test/produce files
static/tmp
test.*
temp.*

# minify
dist
static/css-min/
static/js-min/
view-min/

gulp-cache/
package-lock.json

error_log.txt
