#image-preview {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}
#image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
#image-preview label {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 140px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.pre-scrollable {
    max-height: 100%;
}

.ui-datepicker, .ui-datepicker-title, .ui-datepicker-header, .ui-state-default,
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
    text-align: center;
}

.ui-datepicker, .ui-datepicker-title, .ui-datepicker-header {
    background-color: #fff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #000;
    background-color: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #007fff;
    font-weight: normal;
    color: #000;
    border-radius: 50%;
}


.ui-datepicker {
    width: 20em;
}