#image-preview {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}
#image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
#image-preview label {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 140px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.pre-scrollable {
    max-height: 100%;
}

.ui-datepicker {
    width: 20em;
}