.list-group {
    margin-top: 10px;
}

.list-group .list-group-item {
    height: 30px;
    margin-top: 10px;
}

.task-remind {
    position: absolute;
    right: 10px;
    top: 5px;
}

.task-info {
    position: absolute;
    left: 10px;
    top: 5px;
}