.list-group {
    margin-top: 10px;
}

.list-group .list-group-item {
    height: 30px;
    margin-top: 10px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e4b9c0;
}

.task-remind {
    position: absolute;
    right: 10px;
    top: 5px;
}

.task-info {
    position: absolute;
    left: 10px;
    top: 5px;
}