.task {
    margin-left: 40px;
}

.list-group-item {
    width: 100%;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

.img-circle {
    width: 50%;
}

.user-head {
    text-align: center;
}