.task {
    margin-left: 40px;
}

<<<<<<< HEAD
.userImg {
=======
.user-img {
>>>>>>> e0ca3e46c1d5672174cf4f982f9a4b4eaa5c9adf
    text-align: center;
}

.list-group-item {
    width: 100%;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

.img-circle {
    width: 50%;
}