.list-group {
    margin-top: 10px;
}

.task-top {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 13px;
    width: 60px;
}

.task-reward {
    position: absolute;
    left: 10px;
    top: 30px;
}

.task-info {
    position: absolute;
    left: 10px;
    top: 5px;
}