<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="description" content="江苏大学 资源共享平台">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/icon.png">
    {% block style %}

    {% endblock %}
</head>
<body>
{% block main %}

{% endblock %}
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
<script src="//cdn.bootcss.com/vue/2.3.0/vue.min.js"></script>
<script src="//cdn.bootcss.com/vue-resource/1.3.1/vue-resource.min.js"></script>
{% block script %}

{% endblock %}
</body>
</html>
