{% extends "./base.html" %}

{% block style %}
    <link rel="stylesheet" href="/css/admin/index.css">
{% endblock %}

{% block main %}
    <div class="input-group" id="searchDiv">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" id="searchContent" class="form-control" placeholder="请输入关键字(默认显示所有)">
        <span class="glyphicon glyphicon-remove-circle form-control-feedback"></span>
    </div>

    <div id="vm" class="pre-scrollable">
        <ul class="list-group">
            <li v-for="item in items" class="list-group-item">
                <dl>
                    <dt>[${ item.type }] ${ item.title }</dt>
                    <dd>${ item.detail }</dd>
                    <dd>${ item.state }</dd>
                    <dd><a v-on:click="remove(item)">删除</a></dd>
                </dl>
            </li>
            <i v-if="loading" class="fa fa-spinner fa-spin" style="font-size:24px; text-align: center"></i>
        </ul>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/admin/index.js"></script>
{% endblock %}
