{% extends "./base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css-min/admin/login.css">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="wrapper">
            <form action="/api/admin/login" method="post" class="form-signin">
                <h3 class="form-signin-heading">欢迎，请认证管理员</h3>
                <hr class="colorgraph">
                <br>

                <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="密码" required>
                <div class="alert alert-danger" role="alert">您输入的用户名/密码有误</div>
                <button class="btn btn-lg btn-primary btn-block" name="submit" value="login" type="submit">登录</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js-min/admin/login.js"></script>
{% endblock %}
