{% extends "./template/base.html" %}

{% block main %}
<input type="button" class="btn btn-link back" value="< 返回">
{% for item in data %}
<div class="list-group main">
    <a class="list-group-item">
        <span>[{{item.type}}]</span>
        <span>{{item.location}}</span>
        <span>{{item.reward}}元</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endfor %}
<ul class="pager" style="margin:auto 50px">
    <li class="previous"><a>&larr; 上一页</a></li>
    <li class="next"><a>下一页 &rarr;</a></li>
</ul>
<script>
  $(() => {
    $('.back').click(() => {
      window.history.back();
    });
  });
</script>

{% endblock %}
