{% extends "./mybase.html" %}

{% block main %}
<script src="/static/js/vue.js"></script>
<script src="/static/js/ajaxFileUpload.js"></script>

<script>
    $(() => {
        let form = $("#publishInfo"),
            back = $('#back'),
            createTask = $('#createTaskTab');

        form.submit(() => {
            if (submitCheck()) {
                $.ajaxFileUpload({
                    type: form.attr('method'),
                    url: form.attr('action'),//后台接收url
                    secureuri: false,
                    fileElementId: 'file',//file标签的id，name
                    data: {
                        type: $('#taskType').val(),
                        name: $('#name').val(),
                        tel: $('#tel').val(),
                        deadline: $('#deadline').val(),
                        detail: $('#detail').val(),
                        reward: $('#reward').val()
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                    }
                });
            }
            return false;
        });

        form.ajaxForm({
            beforeSubmit: ShowRequest,
            success: SubmitSuccesful,
            error: AjaxError
        });
        back.click(() => {
            window.history.back();
        });
        createTask.attr('href', 'javascript:void(0)');

        function submitCheck() {
            let taskType = $('#taskType');
            if (!taskType.val()) {
                alert('请选择任务类型');
                return false;
            }
            return true;
        }

        function submit() {

        }
    });
</script>
<style>

    label {
        float: left;
        margin-top: 8px;
        margin-left: 20px;
    }

    .form-control, #datetime {
        width: 70%;
        margin-left: 15%;
    }

    #publishInfo {
        margin-top: 3%;
    }

    #login {
        width: 40%;
        margin-left: 30%;
    }

    #back {
        margin-left: 3%;
        margin-top: 2%;
    }

    #datetime {
        margin-bottom: 15px;
    }
</style>


<input id="back" type="button" class="btn btn-link" value="< 返回"/>
<form id="publishInfo" action="/api/publish" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <select class="form-control selectpicker" id="taskType" name="taskType">
            <option disabled selected>请选择任务类型</option>
            <option value="substituteClass">代课</option>
            <option value="substituteFetch">代取</option>
            <option value="freeRide">顺风车</option>
            <option value="borrowSomething">借东西</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" value="{{user.name}}" placeholder="姓名" required>
    </div>


    <div class="form-group">
        <input type="text" class="form-control" id="tel" name="tel" value="{{user.tel}}" placeholder="电话号码" required>
    </div>

    <div id="datetime">
        <datetime-picker></datetime-picker>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" id="detail" cols="10" name="detail"
                  placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~" required>三江楼405 马克思 3/4节</textarea>
    </div>

    <div class="form-group">
        <input type="file" class="form-control" id="file" name="file" placeholder="图片补充"/>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="reward" name="reward" value="21" placeholder="报酬(元)" required/>
    </div>

    <input id="login" type="submit" class="btn btn-primary" value="发布"/>
</form>


<script src="https://unpkg.com/element-ui@1.2.1/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script>

    Vue.component('datetime-picker', {
        template: `
        <div class="block">
            <el-date-picker
            v-model="selectDatetime"
            type="datetime"
            placeholder="选择日期时间">
            </el-date-picker>
        </div>
        `,
        data(){
            return {
                selectDatetime: "",
            }
        }
    });

    let vm = new Vue({
        //delimiters: ["${","}"],
        el: "#datetime"
    });

    $("#datetime input").attr("name", "deadline");
    $("#datetime input").attr("id", "deadline");
</script>
<style>
    .el-date-editor.el-input {
        width: 100%
    }
</style>
{% endblock %}
