{% extends "./mybase.html" %}

{% block main %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/datetimepicker/latest/DateTimePicker.min.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/datetimepicker/latest/DateTimePicker.min.js"></script>
<script type="text/javascript" src="/static/js/DatetimePicker-i18n-zh-CN.js"></script>
<script src="/static/js/vue.js"></script>

<script>
    $(() => {
        let form = $("#publishInfo"),
            back = $('#back'),
            createTask = $('#createTaskTab');
        form.submit(e => {
            e.preventDefault();
            if (submitCheck()) {
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: data => {
                        window.location.href = '/userInfo';
                    },
                    error: data => {
                        alert('error -> ' + data);
                    }
                });

            }
        });
        back.click(() => {
            window.history.back();
        });
        createTask.attr('href', 'javascript:void(0)');
        $("#dtBox").DateTimePicker({"language": "zh-CN"});

        function submitCheck() {
            let taskType = $('#taskType');
            if (!taskType.val()) {
                alert('请选择任务类型');
                return false;
            }
            return true;
        }
    });
</script>
<style>

    label {
        float: left;
        margin-top: 8px;
        margin-left: 20px;
    }

    .form-control, #datetime {
        width: 70%;
        margin-left: 15%;
    }

    #publishInfo {
        margin-top: 3%;
    }

    #login {
        width: 40%;
        margin-left: 30%;
    }

    #back {
        margin-left: 3%;
        margin-top: 2%;
    }
    #datetime{
        margin-bottom: 15px;
    }
</style>


<input id="back" type="button" class="btn btn-link" value="< 返回"/>
<form id="publishInfo" action="/api/publish" method="post">

    <div id="userTask">
        <el-select v-model="value" placeholder="请选择" class="input">
            <el-option
            v-for="item in options"
            :label="item.label"
            :value="item.value">
            </el-option>
        </el-select>
    </div>

    <div id="userName">
        <el-input v-model="name" placeholder="请输入用户名" class="input"></el-input>
    </div>

    <div id="userTel">
        <el-input v-model="tel" placeholder="输入手机号码" class="input"></el-input>
    </div>

    <div id="datetime">
        <el-date-picker v-model="deadline" type="datetime" placeholder="选择日期时间"></el-date-picker>
    </div>

    <div id="userDetail">
        <el-input v-model="detail" type="textarea" :rows="5" class="input"
            placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~">
        </el-input>
    </div>

    <div class="form-group">
        <input type="file" class="form-control" id="picture" name="picture" placeholder="图片补充"/>
    </div>

    <!--div id="userPic">
        <el-upload
            class="input"
            action="//jsonplaceholder.typicode.com/posts/">
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div-->

    <div id="userReward">
        <el-input v-model="reward" placeholder="报酬(元)" class="input"></el-input>
    </div>

    <input id="login" type="submit" class="btn btn-primary" value="发布"/>
</form>


<script src="https://unpkg.com/element-ui@1.2.1/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<script>

let uname = {name: "{{user.name}}"},
    utel = {tel: "{{user.tel}}"},
    ureward = {reward: ""},
    udetail = {detail: ""},
    udatetime = {deadline: ""}
    utasks = {options: [
        {value: "substituteClass", label: "代课"},
        {value: "substituteFetch", label: "代取"},
        {value: "freeRide", label: "顺风车"},
        {value: "borrowSomething", label: "借东西"}
    ], value: ""}

let dt = new Vue({
    //delimiters: ["${","}"],
    el: "#datetime",
    data(){
        return udatetime
    }
})

let userTask = new Vue({
    el: "#userTask",
    options: ["value"],
    data(){
        return utasks
    }
})

let userName = new Vue({
    el: "#userName",
    data(){
        return uname
    }
})

let userTel = new Vue({
    el: "#userTel",
    data(){
        return utel
    }
})

let userDetail = new Vue({
    el: "#userDetail",
    data(){
        return udetail
    }
})

let userPic = new Vue({
    el: "#userPic",
    data(){
        return {}
    }
})

let userReward = new Vue({
    el: "#userReward",
    data(){
        return ureward
    }
})

</script>
<style>
    .el-date-editor.el-input{
        width: 100%
    }
    .input{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 20px;
    }
</style>
{% endblock %}
