{% extends "./myBase.html" %}

{% block main %}
<link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/static/images/cat1.jpeg" alt="cat1">
            <div class="carousel-caption">cat1</div>
        </div>

        <div class="item">
            <img src="/static/images/cat2.jpeg" alt="cat2">
            <div class="carousel-caption">cat2</div>
        </div>

        <div class="item">
            <img src="/static/images/cat3.jpeg" alt="cat3">
            <div class="carousel-caption">cat3</div>
        </div>

        <div class="item">
            <img src="/static/images/cat4.jpeg" alt="cat4">
            <div class="carousel-caption">cat4</div>
        </div>

        <div class="item">
            <img src="/static/images/cat5.jpeg" alt="cat5">
            <div class="carousel-caption">cat5</div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="main">
    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/showTasks?where=substitute_class">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <span class="block">代课</span>
                </a>
            </li>
            <li>
                <a href="/showTasks?where=free_ride">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    <span class="block">顺风车</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/showTasks?where=substitute_fetch">
                    <span class="glyphicon glyphicon-send"></span>
                    <span class="block">代取</span>
                </a>
            </li>
            <li>
                <a href="/showTasks?where=substitute_class">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="block">会员共享</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/showTasks?where=borrow_something">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span class="block">借东西</span>
                </a>
            </li>
            <li>
                <a href="/showTasks?where=substitute_class">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span class="block">代做</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="custom-search-input">
        <div class="input-group col-xs-12">
            <input type="text" class="form-control" placeholder="搜索任务：请输入关键字" >
            <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
        </div>
    </div>
    <div id="vm" class="pre-scrollable">
        <p v-if="loading">Loading...</p>
        <ul class="list-group text-center">
            <li v-for="item in items" class="list-group-item">
                <span class="task-info">[${item.type}]&nbsp;${item.detail}</span>
                <span class="task-reward">[悬赏]&nbsp;${item.reward}(元)</span>
                <button type="button" class="btn btn-primary btn-sm take-task">接单</button>
                <button v-bind:id="item.id" type="button" class="btn btn-default btn-sm top-task ladda-button"
                        data-style="slide-right" v-on:click="stick(item)">置顶
                </button>
            </li>
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </ul>
    </div>

</div>

<style>
    .take-task {
        position: absolute;
        top: 2px;
        right: 5px;
        font-size: 13px;
        width: 60px;
    }

    .top-task {
        position: absolute;
        top: 34px;
        width: 60px;
        right: 5px;
        font-size: 13px;
    }

    .task-reward {
        position: absolute;
        left: 10px;
        top: 30px;
    }

    .task-info {
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .list-group {
        margin-top: 10px;
    }

    .list-group .list-group-item {
        height: 70px;
        margin-top: 10px;
    }

    .list-group .list-group-item input {
        position: absolute;
        right: 10px;
        width: 80px;
        border-radius: 9px;
    }

    .carousel-inner > .item > img {
        height: 200px;
        width: 100%;
    }

    .pre-scrollable {
        margin-bottom: 40px;
    }

</style>
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/vue-resource.js"></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js"></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js"></script>
<script>
  $(() => {
    let loading = $('.fa-spinner');
    loading.hide();
    $('#indexTab').attr('href', 'javascript:void(0)');
    let vmDiv = $('#vm');
    vmDiv.scroll(() => {
      let divHeight = vmDiv.height();
      let scrollHeight = vmDiv[0].scrollHeight;
      let scrollTop = vmDiv[0].scrollTop;
      if (scrollTop + divHeight >= scrollHeight) {
        console.log("滚动条到底部了");
        if (vm.currentPage * vm.limit < vm.count) {
          loading.show();
          vm.get();
        } else {
          loading.hide();
        }
      }
    });
  });

  let vm = new Vue({
    delimiters: ['${', '}'],
    el: '#vm',
    data: {
      items: [],
      currentPage: 0,
      loading: false,
      count: -1,
      limit: 5
    },
    created: function () { // VM初始化成功后的回调函数
      this
        .$resource('/api/task/get/count?where=index')
        .get()
        .then(resp => {
          resp
            .json()
            .then(result => {
              vm.count = result.result;
              vm.get();
            });
        });
    },
    methods: {
      _showError: resp => {
        resp.json().then(result => console.log('Error: ' + result.message));
      },
      get: () => {
        vm.loading = true;
        vm.$resource(`/api/task/get/page/${vm.currentPage + 1}/limit/${vm.limit}?where=index`).get()
          .then(resp => {
            vm.loading = false;
            resp.json().then(result => {
              result.result.forEach(item => {
                if (item.detail.length > 25) {
                  item.detail = item.detail.substr(0, 25) + '...';
                }
              });
              vm.items = vm.items.concat(result.result);
              vm.currentPage++;
            });
          }, resp => {
            vm.loading = false;
            vm._showError(resp);
          });
      },
      stick: item => {
        let loading = Ladda.create($('.ladda-button').get(0)),
          stickButton = $(`#${item.id}`);
        loading.start();
        vm.$resource(`/api/task/stick/${item.id}`).update()
          .then(resp => {
            vm.loading = false;
            resp.json().then(result => {
              stickButton.text(result.result ? '成功' : '失败');
              setTimeout(() => {
                stickButton.text('置顶');
                loading.stop();
              }, 500);
            });
          }, resp => {
            stickButton.text('失败');
            setTimeout(() => {
              stickButton.text('置顶');
              loading.stop();
            }, 500);
            vm._showError(resp);
          });
      },
      order: item => {
        window.location.href = '/task/detail';
      }
    }
  });
</script>
{% endblock %}
