{% extends "./template/base.html" %}

{% block main %}
<link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">

<form class="main" action="/api/login" method="post">
    <div class="form-group">
        <input type="text" value="3150803016" class="form-control" id="id" name="id"
               placeholder="学号"/>
    </div>
    <div class="form-group">
        <input type="password" value="jnzx021527" class="form-control" id="password" name="password"
               placeholder="密码"/>
    </div>
    <div class="form-group">
        <input type="text" id="verificationCode" class="form-control"
               style="display: inline-block;width: 70%;"
               name="verificationCode" placeholder="验证码"/>
        <img src="{{ verificationCodePictureUrl }}" style="width: 20%;">
    </div>
    <button type="submit" class="btn btn-primary ladda-button submit" data-style="expand-right"><span
            class="ladda-label">登录</span></button>
</form>
<script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js" defer></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js" defer></script>
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js" defer></script>
<script>
  $(() => {
    let form = $('form');
    form.bootstrapValidator({
      message: 'The form is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        id: {
          message: 'The id is not valid',
          validators: {
            notEmpty: {
              message: '请填写学号'
            },
            regexp: {
              regexp: /^[0-9]+$/,
              message: '请填写正确的学号'
            }
          }
        },
        password: {
          message: 'The password is not valid',
          validators: {
            notEmpty: {
              message: '请填写密码'
            }
          }
        },
        verificationCode: {
          message: 'The verificationCode is not valid',
          validators: {
            notEmpty: {
              message: '请填写验证码'
            },
            regexp: {
              regexp: /^[a-zA-Z0-9]{4}$/,
              message: '请填写正确的验证码'
            }
          }
        }
      }
    }).on('success.form.bv', e => {
      e.preventDefault();

      submitAjax($('.ladda-button'), {
        type: form.attr('method'),
        url: form.attr('action'),
        data: JSON.parse('{"' + decodeURIComponent(form.serialize()).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}'),
      }, {
        success: '成功',
        fail: '失败'
      }, () => {
        window.location.href = '/userInfo';
      });

    });
  });
</script>
<script src="/static/js/ajax_loading.js" defer></script>
{% endblock %}
