{% extends "./template/base.html" %}

{% block main %}
<style>
    .task {
        margin-left: 40px;
    }

    .userImg {
        text-align: center;
    }
</style>

<input type="button" class="btn btn-link back" value="< 返回">

<div class="userImg">
    <img src="/static/images/cat1.jpeg" alt="cat1">
    <p>{{ username }}</p>
</div>

<div class="list-group main">
    <a id="unfinishedTasks" class="list-group-item" href="/task/mine/unfinished">
        <span class="pull-left glyphicon glyphicon-asterisk"></span>
        <span class="task">未完成任务<span class="badge">{{ unfinishedBadge }}</span></span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="completedTasks" class="list-group-item" href="/task/mine/completed">
        <span class="pull-left glyphicon glyphicon-ok"></span>
        <span class="task">已完成任务</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="publishedTasks" class="list-group-item" href="/task/mine/published">
        <span class="pull-left glyphicon glyphicon-send"></span>
        <span class="task">发布的任务<span class="badge">{{ unPaidBadge }}</span></span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="myInfo" class="list-group-item" href="/userInfo">
        <span class="pull-left glyphicon glyphicon-user"></span>
        <span class="task">我的信息</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<script>
  $(() => {
    $('.back').click(() => window.history.back());
    $('#meTab').attr('href', 'javascript:void(0)');
  });
</script>

{% endblock %}
