{% extends "./template/base.html" %}

{% block main %}
<style>
    .task {
        margin-left: 40px;
    }

    .userImg {
        text-align: center;
    }

    .list-group-item {
        width: 100%;
        border: 0;
        margin-bottom: 0;
        border-bottom: 1px solid black;
    }

    .img-circle {
        width: 50%;
    }
</style>

<div class="userImg">
    {% if gender === '女' %}
    <img src="/static/images/girl.jpeg" class="img-circle" alt="girl">
    {% elif gender === '男' %}
    <img src="/static/images/boy.jpeg" class="img-circle" alt="boy">
    {% endif %}
    <p>{{ username }}</p>
</div>

<div class="list-group main">
    <a id="unfinishedTasks" class="list-group-item" href="/task/mine/unfinished">
        <span class="pull-left glyphicon glyphicon-asterisk"></span>
        <span class="task">已接单未完成<span class="badge">{{ unfinishedBadge }}</span></span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="completedTasks" class="list-group-item" href="/task/mine/completed">
        <span class="pull-left glyphicon glyphicon-ok"></span>
        <span class="task">已接单并完成</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="publishedTasks" class="list-group-item" href="/task/mine/published">
        <span class="pull-left glyphicon glyphicon-send"></span>
        <span class="task">我发布的订单<span class="badge">{{ unPaidBadge }}</span></span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="myInfo" class="list-group-item" href="/userInfo?where=me">
        <span class="pull-left glyphicon glyphicon-user"></span>
        <span class="task">我的信息</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

{% endblock %}
