{% extends "./template/base.html" %}

{% block main %}
<link rel="stylesheet" href="/static/css/take-task.css">
<input type="button" class="btn btn-link back" value="< 返回">
{% if where === 'published'%}
{% include "./template/published_task_list.html" ignore missing %}
{% elif where === 'completed'%}
{% include "./template/completed_task_list.html" ignore missing %}
{% elif where === 'unfinished' %}
{% include "./template/unfinished_task_list.html" ignore missing %}
{% endif %}
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/vue-resource.js"></script>

<script src="/static/js/take_task_operation.js"></script>
<script>
  $('.back').click(() => {
    window.history.back();
  });
</script>

{% endblock %}
