<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="江苏大学 资源共享平台">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/icon.png">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
</head>
<body>
{% block main %}

{% endblock %}
<style>

    ul {
        list-style-type: none;
    }

    ul li {
        text-align: center;
    }

    .col-xs-4 ul {
        padding-left: 0;
    }

    .block {
        display: block;
    }

    .bottomNav {
        position: fixed;
        width: 100%;
        bottom: 0;
        color: #4fafff;
    }
</style>

<div class="bottomNav">
    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/" id="indexTab">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span class="block">首页</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/createTask" id="createTaskTab">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    <span class="block">发布</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/me" id="meTab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="block">我</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
</body>
</html>
