{% extends "./mybase.html" %}

{% block main %}
<script>
    $(() => {
        let me = $('#me');
        let back = $('#back');
        let unfinishedTasks = $('#unfinishedTasks');
        let completedTasks = $('#completedTasks');
        let sentTasks = $('#sentTasks');
        let myInfo = $('#myInfo');
        me.attr('href', 'javascript:void(0)');
        back.click(() => window.history.back());
        unfinishedTasks.click(() => {
            window.location.href = '/unfinishedTasks';
        });
        completedTasks.click(() => {
            window.location.href = '/completedTasks';
        });
        sentTasks.click(() => {
            window.location.href = '/sentTasks';
        });
        myInfo.click(() => {
            window.location.href = '/userInfo';
        });
    });
</script>
<style>
    #main {
        margin-left: 20px;
        margin-right: 20px;
    }

    #back {
        margin-left: 1%;
        margin-top: 2%;
    }

    li {
        margin-top: 10px;
        height: 50px;
    }

    .task {
        float: left;
        margin-left: 40px;
    }

    #userImg {
        text-align: center;
    }

    .bottomNav ul {
        margin-bottom: 0px;
    }
</style>
<input id="back" type="button" class="btn btn-link" value="< 返回"/>

<div id="userImg">
    <img src="/static/images/cat1.jpeg" alt="cat1">
    <p>小明</p>
</div>

<div id="main">
    <ul class="list-group">
        <li id="unfinishedTasks" class="list-group-item" style="text-align:center;">
            <span class="pull-left glyphicon glyphicon-asterisk"></span>
            <span class="task">未完成任务</span>
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </li>
        <li id="completedTasks" class="list-group-item">
            <span class="pull-left glyphicon glyphicon-ok"></span>
            <span class="task">已完成任务</span>
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </li>
        <li id="sentTasks" class="list-group-item">
            <span class="pull-left glyphicon glyphicon-send"></span>
            <span class="task">发布的任务</span>
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </li>
        <li id="myInfo" class="list-group-item">
            <span class="pull-left glyphicon glyphicon-user"></span>
            <span class="task">我的信息</span>
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </li>
    </ul>
</div>

{% endblock %}
