{% extends "./myBase.html" %}

{% block main %}
<script>
  $(() => {
    let me = $('#me'),
      back = $('#back');
    me.attr('href', 'javascript:void(0)');
    back.click(() => window.history.back());
  });
</script>
<style>
    #main {
        margin-left: 20px;
        margin-right: 20px;
    }

    #back {
        margin-left: 1%;
        margin-top: 2%;
    }

    .task {
        margin-left: 40px;
    }

    #userImg {
        text-align: center;
    }
</style>
<input id="back" type="button" class="btn btn-link" value="< 返回"/>

<div id="userImg">
    <img src="/static/images/cat1.jpeg" alt="cat1">
    <p>小明</p>
</div>

<div id="main" class="list-group">
    <a id="unfinishedTasks" class="list-group-item" href="/unfinishedTasks">
        <span class="pull-left glyphicon glyphicon-asterisk"></span>
        <span class="task">未完成任务<span class="badge">3</span></span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="completedTasks" class="list-group-item" href="/completedTasks">
        <span class="pull-left glyphicon glyphicon-ok"></span>
        <span class="task">已完成任务</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="sentTasks" class="list-group-item" href="/sentTasks">
        <span class="pull-left glyphicon glyphicon-send"></span>
        <span class="task">发布的任务</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
    <a id="myInfo" class="list-group-item" href="/myInfo">
        <span class="pull-left glyphicon glyphicon-user"></span>
        <span class="task">我的信息</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

{% endblock %}
