{% extends "./myBase.html" %}

{% block main %}
<link href="/static/css/common.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main">
    <div id="vm" class="pre-scrollable">
        <p v-if="loading">Loading...</p>
        <ul class="list-group text-center">
            <li v-for="item in items" class="list-group-item">
                <span class="task-info">[${item.type}]&nbsp;${item.detail}</span>
                <span class="task-reward">[悬赏]&nbsp;${item.reward}(元)</span>
                <button type="button" class="btn btn-primary btn-sm take-task">接单</button>
                <button v-bind:id="item.id" type="button" class="btn btn-default btn-sm top-task ladda-button"
                        data-style="slide-right" v-on:click="stick(item)">置顶
                </button>
            </li>
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </ul>
    </div>
</div>

<style>
    .take-task {
        position: absolute;
        top: 2px;
        right: 5px;
        font-size: 13px;
        width: 60px;
    }

    .top-task {
        position: absolute;
        top: 34px;
        width: 60px;
        right: 5px;
        font-size: 13px;
    }

    .task-reward {
        position: absolute;
        left: 10px;
        top: 30px;
    }

    .task-info {
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .list-group {
        margin-top: 10px;
    }

    .list-group .list-group-item {
        height: 70px;
        margin-top: 10px;
    }

    .list-group .list-group-item input {
        position: absolute;
        right: 10px;
        width: 80px;
        border-radius: 9px;
    }
</style>
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/vue-resource.js"></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js"></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js"></script>
<script>
  $(() => {
    let loading = $('.fa-spinner');
    loading.hide();
    $('#indexTab').attr('href', 'javascript:void(0)');
    let vmDiv = $('#vm');
    vmDiv.scroll(() => {
      let divHeight = vmDiv.height();
      let scrollHeight = vmDiv[0].scrollHeight;
      let scrollTop = vmDiv[0].scrollTop;
      if (scrollTop + divHeight >= scrollHeight) {
        console.log("滚动条到底部了");
        if (vm.currentPage * vm.limit < vm.count) {
          loading.show();
          vm.get();
        } else {
          loading.hide();
        }
      }
    });
  });

  let vm = new Vue({
    delimiters: ['${', '}'],
    el: '#vm',
    data: {
      items: [],
      currentPage: 0,
      loading: false,
      count: -1,
      limit: 5
    },
    created: function () { // VM初始化成功后的回调函数
      this
        .$resource('/d/type/all/count')
        .get()
        .then(resp => {
          resp
            .json()
            .then(result => {
              vm.count = result.result;
              vm.get();
            });
        });
    },
    methods: {
      _showError: resp => {
        resp.json().then(result => console.log('Error: ' + result.message));
      },
      get: () => {
        vm.loading = true;
        vm.$resource(`/api/task/get/page/${vm.currentPage + 1}/limit/${vm.limit}?where=index`).get()
          .then(resp => {
            vm.loading = false;
            resp.json().then(result => {
              result.result.forEach(item => {
                if (item.detail.length > 25) {
                  item.detail = item.detail.substr(0, 25) + '...';
                }
              });
              vm.items = vm.items.concat(result.result);
              vm.currentPage++;
            });
          }, resp => {
            vm.loading = false;
            vm._showError(resp);
          });
      },
      stick: item => {
        let loading = Ladda.create($('.ladda-button').get(0)),
          stickButton = $(`#${item.id}`);
        loading.start();
        vm.$resource(`/api/task/stick/${item.id}`).update()
          .then(resp => {
            vm.loading = false;
            resp.json().then(result => {
              stickButton.text(result.result ? '成功' : '失败');
              setTimeout(() => {
                stickButton.text('置顶');
                loading.stop();
              }, 500);
            });
          }, resp => {
            stickButton.text('失败');
            setTimeout(() => {
              stickButton.text('置顶');
              loading.stop();
            }, 500);
            vm._showError(resp);
          });
      },
      order: item => {
        window.location.href = '/task/detail';
      }
    }
  });
</script>
{% endblock %}
