{% extends "./myBase.html" %}

{% block main %}
<script>
  $(() => {
    let back = $('#back');
    back.click(() => {
      window.history.back();
    });
  });
</script>
<style>
    #back {
        margin-left: 1%;
        margin-top: 2%;
    }

    .task {
        margin-left: 40px;
    }

    .list {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>
<input id="back" type="button" class="btn btn-link" value="< 返回"/>
{% for item in data %}
<div class="list-group list">
    <a class="list-group-item">
        <span class="pull-left">[{{item.type}}]</span>
        <span class="task">{{item.detail}}</span>
        <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endfor %}

{% endblock %}
