{% extends "./myBase.html" %}

{% block main %}
<script>
    $(() => {
        let back = $('#back');
        back.click(() => {
            window.history.back();
        });
    });
</script>
<style>
    .list {
        margin-left: 20px;
        margin-right: 20px;
    }

    li {
        margin-top: 10px;
        height: 50px;
    }
</style>
<input id="back" type="button" class="btn btn-link" value="< 返回"/>
<div class="list">
    {% for item in data %}
    <ul class="list-group">
        <li class="list-group-item">
            <span class="pull-left">[{{item.type}}]</span>
            <span class="pull-left" style="margin-left: 5px">{{item.location}}</span>
            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
        </li>
    </ul>
    {% endfor %}
</div>

{% endblock %}
