{% extends "./../template/base.html" %}

{% block style%}
    <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css-min/create-task.css">
{% endblock%}

{% block main %}
<form class="main pre-scrollable" action="/api/task/publish" method="post" enctype="multipart/form-data">
    <div class="form-group text-center">
        <select class="selectpicker col-form-select form-control" id="type" name="type" title="请选择发布类型">
            <option value="代取">代取</option>
            <option value="代做">代做</option>
            <option value="代活动">代活动</option>
            <option value="顺风车">顺风车</option>
            <option value="物品共享">物品共享</option>
            <option value="会员共享">会员共享</option>
            <option value="其他">其他</option>
        </select>
    </div>

    <div class="form-group" id="shareCountDiv">
        <input type="text" maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
               class="form-control" name="shareCount" id="shareCount" placeholder="共享次数,默认1">
    </div>

    <div class="form-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="任务标题">
    </div>

    <div class="form-group">
        <input type="text" id="deadline" name="deadline" class="form-control" placeholder="请选择截止时间(包含)" readonly>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" id="detail" name="detail"
                  placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~"></textarea>
    </div>
    <div id="image-preview" class="form-group">
        <label for="file" id="image-label">补充图片</label>
        <input type="file" accept="image/*" name="file" id="file"/>
    </div>
    <div class="form-group">

        <div class="btn-group">
            <button type="button" class="btn btn-default" id="rewardType" name="rewardType">悬赏</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li name="rewardValue">悬赏</li>
                <li name="rewardValue">收取</li>
            </ul>
        </div>
        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control"
               id="reward" name="reward" placeholder="报酬(元)，悬赏或收取" style="width: 70%;display: inline-block;"/>
    </div>

    <button type="submit" class="btn btn-primary ladda-button submit" data-style="expand-right"><span
            class="ladda-label">发布</span></button>
</form>
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js" defer></script>
    <script src="/static/js-min/ajax_file_upload.js" defer></script>
    <script src="/static/js-min/wx_pay.js" defer></script>
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js" defer></script>
    <script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js" defer></script>
    <script src="/static/js-min/jquery.uploadPreview.js"></script>
    <script src="/static/js-min/create_task.js"></script>
{% endblock %}
