{% extends "./../template/base.html" %}

{% block style%}
    <link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
    <style>
        img {
            cursor: zoom-in;
        }

        .pre-scrollable {
            max-height: 100%;
        }
    </style>
{% endblock %}

{% block main %}
<div class="main pre-scrollable">
    <table class="table">
        <tr>
            <td class="col-md-3">任务类型</td>
            <td class="col-md-9">{{data.type}}</td>
        </tr>
        <tr>
            <td>发布者</td>
            <td>{{data.name}}</td>
        </tr>
        <tr>
            <td>任务标题</td>
            <td>{{data.title}}</td>
        </tr>
        <tr>
            <td>联系方式</td>
            <td>{{ data.tel }}</td>
        </tr>
        <tr>
            <td>截止日期</td>
            <td>{{ data.deadline }}</td>
        </tr>
        <tr>
            <td>任务报酬</td>
            <td>￥{{ data.reward }}</td>
        </tr>
    </table>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        模态框（Modal）标题
                    </h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="input-group form-control-static">
        <div class="input-group-btn">
            <label class="btn btn-default disabled">任务详情</label>
        </div>
        <textarea class="form-control" rows="5" id="detail" name="detail"
                  placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~" readonly>{{data.detail}}</textarea>
    </div>
    <div class="input-group form-control-static">
    </div>
    <div class="input-group form-control-static">
        <div class="input-group-btn">
            <label class="btn btn-default disabled">补充图片</label>
        </div>
        <img src="{{ data.filename }}" class="thumbnail" width="30%" height="60%" alt="无图片说明">
    </div>
    {% if where === 'unfinished' and data.state === '完成中' %}
        <div class="container text-center">
            <div>
                <button id="done" type="button" name="{{ data.id }}" class="btn btn-primary ladda-button"
                        style="width: 30%;">
                    <span class="ladda-label">完成</span>
                </button>
                <button id="abandon" type="button" name="{{ data.id }}" class="btn btn-primary ladda-button"
                        style="width: 30%;margin-left: 10%;">
                    <span class="ladda-label">放弃</span>
                </button>
            </div>
        </div>
    {% elif where === 'published' %}
        {% if data.state === '认领中' or data.state === '完成中' %}
            <button id="off" name="{{ data.id }}" type="button" class="btn btn-primary ladda-button submit"
                    data-style="expand-right">
                <span class="ladda-label">下架</span>
            </button>
        {% elif data.state === '确认支付' %}
            <button id="paid" name="{{ data.id }}" type="button" class="btn btn-primary ladda-button submit"
                    data-style="expand-right">
                <span class="ladda-label">确认支付</span>
            </button>
        {% endif %}
    {% elif data.type === '会员共享' or data.isSelfTask or where === 'completed' or data.reward === 0 or data.isSelfOrderedTask %}
    {% elif data.state === '认领中' %}
        <button id="order" name="{{ data.id }}" type="button" class="btn btn-primary ladda-button submit"
                data-style="expand-right">
            <span class="ladda-label">接单</span>
        </button>
    {% endif %}
</div>
<input type="hidden" value="{{ where }}">
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" class="enlargeImageModalSource" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js" defer></script>
    <script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js" defer></script>
    <script src="/static/js-min/ajax_loading.js"></script>
    <script src="/static/js-min/task_detail.js"></script>
{% endblock %}
