{% extends "./../template/base.html" %}

{% block main %}
<link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
<link rel="stylesheet" href="/static/libs/bootstrap-select-1.12.2.min.css">
<link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/create-task.css">

<form class="main pre-scrollable" action="/api/task/publish" method="post" enctype="multipart/form-data">
    <div class="form-group text-center">
        <select class="selectpicker col-form-select form-control" id="type" name="type" title="请选择发布类型">
            <option value="代取">代取</option>
            <option value="代做">代做</option>
            <option value="代活动">代活动</option>
            <option value="顺风车">顺风车</option>
            <option value="物品共享">物品共享</option>
            <option value="会员共享">会员共享</option>
            <option value="其他">其他</option>
        </select>
    </div>

    <div class="form-group" id="shareCountDiv">
        <input type="text" maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
               class="form-control" name="shareCount" id="shareCount" placeholder="共享次数,默认1">
    </div>

    <div class="form-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="任务标题">
    </div>

    <div class="form-group">
        <input type="text" id="deadline" name="deadline" class="form-control" placeholder="请选择截止时间(包含)" readonly>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" id="detail" name="detail"
                  placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~"></textarea>
    </div>
    <div id="image-preview" class="form-group">
        <label for="file" id="image-label">补充图片</label>
        <input type="file" accept="image/*" name="file" id="file"/>
    </div>
    <div class="form-group">

        <div class="btn-group">
            <button type="button" class="btn btn-default" id="rewardType" name="rewardType">悬赏</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li name="rewardValue">悬赏</li>
                <li name="rewardValue">收取</li>
            </ul>
        </div>
        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control"
               id="reward" name="reward" placeholder="报酬(元)，悬赏或收取" style="width: 70%;display: inline-block;"/>
    </div>

    <button type="submit" class="btn btn-primary ladda-button submit" data-style="expand-right"><span
            class="ladda-label">发布</span></button>
</form>

<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(() => {
    let form = $('form'),
      submitBtnWord = $('.ladda-label'),
      deadline = $('#deadline'),
      createTask = $('#createTaskTab');
    deadline.datepicker({
      minDate: 0,
      maxDate: 31,
      autoclose: true,
      dateFormat: 'yy-mm-dd',
      onSelect: () => {
        form.data('bootstrapValidator')
          .updateStatus('deadline', 'NOT_VALIDATED', null)
          .validateField('deadline');
      }
    });

    deadline.click((event) => {
      let uiDatepickerDiv = $('#ui-datepicker-div');
      let viewportWidth = $(window).width();
      let viewportHeight = $(window).height();
      let datepickerWidth = uiDatepickerDiv.width();
      let datepickerHeight = uiDatepickerDiv.height();
      let leftPos = (viewportWidth - datepickerWidth) / 2; //Standard centering method
      let topPos = (viewportHeight - datepickerHeight) / 2; //Standard centering method
      uiDatepickerDiv.css({
        left: leftPos,
        top: topPos,
        position: 'absolute'
      });
      uiDatepickerDiv.click((event => {
        event.stopPropagation();
      }));
    });

    form.bootstrapValidator({
      message: 'The form is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        type: {
          message: 'The type is not valid',
          validators: {
            notEmpty: {
              message: '请选择任务类型'
            }
          }
        },
        shareCount: {
          message: 'The type is not valid',
          validators: {
            notEmpty: {
              message: '请填写共享次数'
            }
          }
        },
        title: {
          message: 'The title is not valid',
          validators: {
            notEmpty: {
              message: '请填入任务标题'
            }
          }
        },
        reward: {
          message: 'The reward is not valid',
          validators: {
            regexp: {
              regexp: /^[0-9]\d*$/,
              message: "请输入正整数的钱数"
            }
          }
        },
        deadline: {
          message: 'The deadline is not valid',
          validators: {
            notEmpty: {
              message: '请选择结束日期'
            }
          }
        }
      }
    }).on('success.form.bv', e => {
      e.preventDefault();
      let submit = $('.submit'),
        loading = Ladda.create(submit.get(0));
      loading.start();
      let serializeArray = form.serializeArray(),
        formData = {};

      $.map(serializeArray, (n, i) => formData[n['name']] = n['value'].replace(/"/g, '\\"'));
      $.ajaxFileUpload({
        type: form.attr('method'),
        url: form.attr('action'),
        secureuri: false,
        fileElementId: 'file',
        data: JSON.parse(JSON.stringify(formData)),
        dataType: 'json',
        success: (data, status) => {
          console.log(data, status);
          submitBtnWord.text('成功');
          setTimeout(() => {
            submitBtnWord.text('发布');
            loading.stop();
            // bootstrapValidator本身有prevent double click的逻辑，但是和Ladda有互相影响，手动加一下
            submit.attr('disabled', true);
          }, 500);
        },
        error: (xhr, status, e) => {
          submitBtnWord.text('失败');
          setTimeout(() => {
            submitBtnWord.text('发布');
            loading.stop();
          }, 500);
        }
      });
    });
    createTask.attr('href', 'javascript:void(0)');
    let selectpicker = $('.selectpicker');
    selectpicker.change(() => {
        if (selectpicker[0].value === '会员共享') {
          $('#shareCountDiv').show(300);
        } else {
          $('#shareCountDiv').hide(300);
        }
      }
    );
    $('li[name="rewardValue"]').click(function () {
      console.log(this);
      $('#rewardType').text($(this).text());
    });

    $.uploadPreview({
      input_field: "#file",   // Default: .file
      preview_box: "#image-preview",  // Default: .image-preview
      label_field: "#image-label",    // Default: .image-label
      label_default: "图片补充",   // Default: Choose File
      label_selected: "更换图片",  // Default: Change File
      no_label: false                 // Default: false
    });
    form.css('margin-bottom', 15 + $('.navbar-fixed-bottom').height());
  });
</script>
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js" defer></script>
<script src="/static/js/ajax_file_upload.js" defer></script>
<script src="/static/js/jquery.uploadPreview.min.js"></script>
<script src="/static/libs/bootstrap-select-1.12.2.min.js" defer></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js" defer></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js" defer></script>
{% endblock %}
