{% extends "./../template/base.html" %}

{% block main %}
<style>
    .form-control {
        width: 70%;
        margin-left: 15%;
    }
</style>
<link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
<link rel="stylesheet" href="/static/libs/bootstrap-select-1.12.2.min.css">
<link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Ladda/1.0.0/ladda-themeless.min.css" rel="stylesheet">

<form class="main" action="/api/task/publish" method="post" enctype="multipart/form-data">
    <div class="form-group text-center">
        <select class="selectpicker col-form-select form-control" id="type" name="type" title="请选择发布类型">
            <option value="代活动">代活动</option>
            <option value="代取">代取</option>
            <option value="物品共享">物品共享</option>
            <option value="顺风车">顺风车</option>
            <option value="会员共享">会员共享</option>
            <option value="代做">代做</option>
        </select>
    </div>

    <div class="form-group" id="shareCountDiv">
        <input type="text" maxlength="3" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" name="shareCount" id="shareCount" placeholder="共享次数,默认1">
    </div>

    <div class="form-group">
        <input type="text" id="deadline" name="deadline" class="form-control" placeholder="请选择截止时间(包含)" readonly>
    </div>

    <div class="form-group">
        <textarea class="form-control" rows="5" id="detail" name="detail"
                  placeholder="请详细说明任务详情，比如地点时间，不然接任务人就一脸懵逼了~">三江楼405 马克思 3/4节 ffffffffffff</textarea>
    </div>
    <div class="form-group" style="margin-left: 15%">
        <input type="file" accept="image/png,image/jpeg,image/bmp" id="file" name="file" class="filestyle"
               data-input="false" data-buttonName="btn-primary"
               data-buttonText="图片补充(可选)">
    </div>
    <div class="form-group">
        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control"
               id="reward" name="reward" value="21" placeholder="报酬(元)"/>
    </div>

    <button type="submit" class="btn btn-primary ladda-button submit" data-style="expand-right"><span
            class="ladda-label">发布</span></button>
</form>

<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(() => {
    let form = $('form'),
      submitBtnWord = $('.ladda-label'),
      deadline = $('#deadline'),
      createTask = $('#createTaskTab');
    deadline.datepicker({
      minDate: 0,
      autoclose: true,
      dateFormat: 'yy-mm-dd',
      onSelect: () => {
        form.data('bootstrapValidator')
          .updateStatus('deadline', 'NOT_VALIDATED', null)
          .validateField('deadline');
      }
    });

    form.bootstrapValidator({
      message: 'The form is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        type: {
          message: 'The type is not valid',
          validators: {
            notEmpty: {
              message: '请选择任务类型'
            }
          }
        },
        shareCount: {
          message: 'The type is not valid',
          validators: {
            notEmpty: {
              message: '请填写共享次数'
            }
          }
        },
        detail: {
          message: 'The username is not valid',
          validators: {
            notEmpty: {
              message: '请输入任务详情'
            },
            stringLength: {
              min: 20,
              message: '请描述更详细点'
            }
          }
        },
        reward: {
          message: 'The reward is not valid',
          validators: {
            notEmpty: {
              message: '请填入相应报酬'
            },
            regexp: {
              regexp: /^[1-9]\d*$/,
              message: "请输入正整数的钱数"
            }
          }
        },
        deadline: {
          message: 'The deadline is not valid',
          validators: {
            notEmpty: {
              message: '请选择结束日期'
            }
          }
        }
      }
    }).on('success.form.bv', e => {
      e.preventDefault();
      let submit = $('.submit'),
        loading = Ladda.create(submit.get(0));
      loading.start();
      let serializeArray = form.serializeArray(),
        formData = {};

      $.map(serializeArray, (n, i) => formData[n['name']] = n['value'].replace(/"/g, '\\"'));
      $.ajaxFileUpload({
        type: form.attr('method'),
        url: form.attr('action'),
        secureuri: false,
        fileElementId: 'file',
        data: JSON.parse(JSON.stringify(formData)),
        dataType: 'json',
        success: (data, status) => {
          console.log(data, status);
          submitBtnWord.text('成功');
          setTimeout(() => {
            submitBtnWord.text('发布');
            loading.stop();
            // bootstrapValidator本身有prevent double click的逻辑，但是和Ladda有互相影响，手动加一下
            submit.attr('disabled', true);
          }, 500);
        },
        error: (xhr, status, e) => {
          submitBtnWord.text('失败');
          setTimeout(() => {
            submitBtnWord.text('发布');
            loading.stop();
          }, 500);
        }
      });
    });
    createTask.attr('href', 'javascript:void(0)');
    let selectpicker = $('.selectpicker');
    selectpicker.change(() => {
        if (selectpicker[0].value === '会员共享') {
          $('#shareCountDiv').show(300);
        } else {
          $('#shareCountDiv').hide(300);
        }
      }
    )
    ;
  });
</script>
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js" defer></script>
<script src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js" async></script>
<script src="/static/js/ajax_file_upload.js" defer></script>
<script src="/static/libs/bootstrap-select-1.12.2.min.js" defer></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/spin.min.js" defer></script>
<script src="//cdn.bootcss.com/Ladda/1.0.0/ladda.min.js" defer></script>
{% endblock %}
