{% extends "./../template/task_list.html" %}
{% block search%}
<link rel="stylesheet" href="/static/css/take-task.css">
<style>
    .form-control-feedback {
        pointer-events: auto;
    }

    .input-group .input-group-addon {
        top: 0;
        background-color: #fff;
    }
</style>
<div class="input-group col-xs-12">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" id="searchContent" class="form-control" placeholder="请输入关键字(默认显示所有)">
    <span class="glyphicon glyphicon-remove-circle form-control-feedback"></span>
</div>
<script>
  var searchContent = $('#searchContent'),
    searchClear = $('.glyphicon-remove-circle'),
    searchButton = $('.glyphicon-search');

  searchClear.hide();
  searchContent.keyup(() => {
    searchClear.show();
  });
  searchClear.click(() => {
    searchContent.val('');
    searchClear.hide();
  });
  searchButton.click(() => {
    vm.init(searchContent.val());
  });
</script>
{% endblock %}
{% block main %}
<span class="task-info">[${item.type}]&nbsp;${item.title}</span>
<span class="task-reward">[悬赏]&nbsp;${item.reward}(元)</span>
<button v-bind:id="item.id" type="button" class="btn btn-primary btn-sm task-top ladda-button"
        data-style="slide-right" v-on:click.stop="stick(item)">置顶
</button>
{% endblock%}