{% extends "./../template/task_list.html" %}
{% block search%}
<link rel="stylesheet" href="/static/css/take-task.css">
<style>
    .form-control-feedback {
        pointer-events: auto;
    }
</style>
<div class="input-group col-xs-12">
        <span class="input-group-btn">
            <button class="btn btn-info" id="searchButton" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    <input type="text" id="searchContent" class="form-control" placeholder="请输入关键字(默认显示所有)">
    <span class="glyphicon glyphicon-remove-circle form-control-feedback"></span>
</div>
<script>
  var searchContent = $('#searchContent'),
    searchClear = $('.glyphicon-remove-circle'),
    searchButton = $('.glyphicon-search');

  searchClear.hide();
  searchContent.change(() => {
    if (searchContent.val()) {
      searchClear.show();
    }
  });
  searchClear.click(() => {
    searchContent.val('');
    searchClear.hide();
  });
  searchButton.click(() => {
    if (vm.count) { // 服务器没有数据，点击查询不刷新
      vm.init(searchContent.val());
    }
  });
</script>
{% endblock %}
{% block main %}
<span class="task-info">[${item.type}]&nbsp;${item.title}</span>
<span class="task-reward">[悬赏]&nbsp;${item.reward}(元)</span>
<button v-bind:id="item.id" type="button" class="btn btn-primary btn-sm task-top ladda-button"
        data-style="slide-right" v-on:click.stop="stick(item)">置顶
</button>
{% endblock%}