<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="description" content="江苏大学 资源共享平台">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/static/image/icon.png">
    {% block style %}

    {% endblock %}
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body>
{% block main %}

{% endblock %}
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/" id="indexTab">
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    <span class="block">首页</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/createTask" id="createTaskTab">
                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul>
            <li>
                <a href="/me" id="meTab">
                    <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
                    <span class="block">我</span>
                    <span class="badge pull-right badge-custom"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
{% block script %}

{% endblock %}
    <script src="/js/common.js" defer></script>
</body>
</html>
